/* empty */
.container {
  justify-content: space-between;
  align-items: center;

  & .header {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
  }

  & .main {
    display: flex;
    height: 400px;
    border: 1px solid black;

    & .sider {
      width: 30%;
      height: 120px;
    }

    & .content {
      width: 70%;
    }
  }

  & .footer {
    font-size: 18px;
    text-align: center;
  }
}
