@import 'tailwindcss';

.app {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  & .sider {
    width: 20%;
    height: 92%;

    & .logo {
      width: 100%;
      height: 4.5rem;
    }
  }

  & .main {
    display: flex;
    flex-direction: column;
    width: 80%;

    & .header {
      height: 4.5rem;
    }

    & .content {
      height: calc(100% - 4.5rem);
    }
  }

  & .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
  }
}
